<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML5 boilerplate – all you really need…</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

	<h1>MVC example</h1>
	<ul>
		<%
			data.forEach((person) => { %>
			<li><b><%= person.getTestData() %></b></li>
		<% });
		%>
	</ul>

</body>
</html>